.title {
    text-align: center;
    margin-top: 5%;

}

.presentation h2{
    margin-top: 7%;
    text-align: center;
}


.presentation h3{
    margin-top: 1%;
    text-align: center;
}


.presentation img {
    width: 150px;
    height: 200px;
    float: left;
    margin-left: 45%;
    margin-top: 2%;
}

.presentation p {
    float: left;
    margin-left: 30%;
}

.hobbies h1 {
    margin-top: 35%;
    margin-left: 45%;
}

.hobbies img {
    width: 150px;
    height: 150px;
    float: left;
}

.card {
    float: left;
    margin-left: 20%;
    margin-top: 5%;
}

.hobbies1 img {
    width: 150px;
    height: 150px;
    float: left;
}

.copyright h6 {
    float: left;
    margin-left: 45%;
    margin-top: 5%;
}