.cv h1 {
    text-align: center;
    margin-top: 5%;
}

.cvimg img {
    width: 560px;
    height: 800px;
    float: left;
    margin-left: 2%;
    margin-top: 5%;
}

.etude {
    float: left;
    margin-left: 5%;
}

.taf {
    float: right;
    margin-right: 5%;
}

.card {
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}

.copyright h6 {
    float: left;
    margin-left: 45%;
    margin-top: 5%;
}