.title {
    text-align: center;
    margin-top: 5%;

}


.card {
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}

.copyright h6 {
    float: left;
    margin-left: 45%;
    margin-top: 5%;
}