
{% block body %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Portfolio</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" sizes="16x5" href="https://media.springernature.com/w580h326/nature-cms/uploads/collections/Networks-Collection-img-final-f2c265a59e457f48645e2aa3ff90e942.jpg"/>
        <link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
        <link rel="stylesheet" href="About.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </head>


    
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Adam Belayachi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/Accueil">Accueil</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="/About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Portfolio">Portfolio</a>
            </li>
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link" href="/CV">CV</a>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <div class="title"><h1>About me</h1></div>
    <div class="presentation">
      <h2 class="text-primary">Adam Belayachi</h2>
      <h3 class="text-secondary">BUT Réseaux & Télécommunications</h3>
      <img src="https://cdn.discordapp.com/attachments/820629990785286160/932244693205540874/IMG_20220116_130705_BEAUTY.jpg" alt="me">
      <p class="text-success">Je suis né le 16/02/2004 à Saint-Étienne, passionné par l'informatique depuis mon plus jeune âge,</p>
      <p class="text-success">j'ai décidé d'opter pour une carrière dans ce milieu en commençant dès le lycée à me spécialiser.</p>
      <p class="text-success">J'adore la cybersécurité, le codage informatique et la cryptographie. Cela fait environ</p>
      <p class="text-success">3 ans que je m'y intéresse. J'aimerai par la suite de mon BUT, effectuer un master en</p>
      <p class="text-success">cybersécurité afin de par la suite travailler dans une entreprise en temps que responsable</p>
      <p class="text-success">de la sécurité des systèmes d'information ou même créer ma propre société afin d'intervenir en</p>
      <p class="text-success">Freelance pour d'autres entreprises.</p>
    </div>
    <div class="hobbies">
      <h1>Hobbies</h1>
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Films & séries</div>
        <div class="card-body">
          <img src="https://cdn.pixabay.com/photo/2019/06/15/19/58/movies-4276397_1280.png" alt="movies"> 
          <p class="card-text">Je suis fan de films et de séries en rapport avec l'Histoire et la science-fiction.</p>
        </div>
      </div>
      <div class="hobbies2">
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header">Lecture</div>
          <div class="card-body">
            <img src="https://cdn.pixabay.com/photo/2019/01/30/08/29/book-3964038_1280.jpg" alt="lecture"> 
            <p class="card-text">J'aime lire des livres sur l'économie et le développement personnel.</p>
          </div>
        </div>
      </div>
      <div class="hobbies3">
        <div class="card border-success mb-3" style="max-width: 20rem;">
          <div class="card-header">Football</div>
          <div class="card-body">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvrWjmj_E04M6sdL4iQ5C-BkH_qWcj-e1XaA&usqp=CAU" alt="football"> 
            <p class="card-text">J'adore jouer autant que regarder le football depuis que je suis tout petit.</p>
          </div>
        </div>
      </div>
      <div class="hobbies4">
        <div class="card border-danger mb-3" style="max-width: 20rem;">
          <div class="card-header">Retouche de photos</div>
          <div class="card-body">
            <img src="https://www.photoweb.fr/espaces/magazine/wp-content/uploads/2018/09/retouche-image-liste-meilleurs-editeurs-photo-en-ligne.jpg" alt="retouche photo"> 
            <p class="card-text">Il y'a peu de temps j'ai découvert l'univers de la retouche photo et j'ai accroché.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <h6 class="text-info">Tous droits réservés ©</h6>
    </div>
    </body>
</html>
{% endblock %}